*.o
*.out
*.swp

root/**
root_02/**
root_03/**
root_04/**
root_05/**
root_06/**
root_07/**
root_08/**
root_09/**
root_10/**
root_11/**

*.crt
*.csr
*.key

cert_generation/serial_ca
cert_generation/serial_intermediate


goals.txt
notes.txt
questions.txt
